// _mixins.scss

@use "../abstracts/colors";

@mixin shadow-soft-light {
  box-shadow: 0 0.375rem 0.5rem 0 rgba(0 0 0 / 10%);
}

@mixin shadow-soft-medium {
    box-shadow: 0 0.375rem 0.5rem 0 rgba(0 0 0 / 20%);
}

@mixin shadow-soft-dark {
    box-shadow: 0 0.375rem 1rem 0.125rem rgba(0 0 0 / 30%);
}
  
@mixin shadow-hard {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0 0 0 / 20%);
}

@mixin rounded-corners($radius: 1rem) {
  border-radius: $radius;
}

@mixin circle($diameter: 2rem) {
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin capsule($width, $height, $background) {
    @include flex-center;
    width: $width;
    height: $height;
    // margin: auto;
    border-radius: $height / 2;
    color: #fff;
    background: $background;
    @include shadow-soft-medium;
    transition: all 350ms;
    
    &:hover {
        @include shadow-soft-dark;
    }
}

@mixin text-overlay($background) {
  background: $background;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
