/**
 * _mixins.scss
 */

@use "sass:map";

@use "../abstracts/variables";

@mixin breakpoint($name) {
  @media screen and #{map.get(variables.$breakpoints, $name)} {
    @content;
  }
}

@mixin shadow-soft-light {
  box-shadow: 0 0.375rem 0.5rem 0 rgba(0 0 0 / 10%);
}

@mixin shadow-soft-medium {
  box-shadow: 0 0.375rem 0.5rem 0.1rem rgba(0 0 0 / 20%);
}

@mixin shadow-soft-dark {
  box-shadow: 0 0.375rem 0.5rem 0.2rem rgba(0 0 0 / 30%);
}

@mixin shadow-hard {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0 0 0 / 20%);
}

@mixin rounded-corners($radius: 1rem) {
  border-radius: $radius;
}

@mixin circle($diameter: 2rem) {
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin capsule($width, $height, $background-image) {
  @include flex-center;
  width: $width;
  height: $height;
  border-radius: $height / 2;
  color: #fff;
  background-image: $background-image;
  @include shadow-soft-light;
  transition: all 350ms;

  &:hover {
    @include shadow-soft-medium;
  }
}

@mixin text-overlay($background-image) {
  background-image: $background-image;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// @mixin aspect-ratio-container($width: 1, $height: 1) {
//     padding-top: $height / $width * 100%;
//     position: relative;
// }

// @mixin aspect-ratio-content {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }
