/**
 * _variables.scss
 */

$breakpoints: (
  "small": "(min-width: 320px)",
  "medium": "(min-width: 800px)",
  "large": "(min-width: 1000px)",
  "huge": "(min-width: 1200px)",
);

$header-height: 4rem;

$home-load-duration: 3s;
$menu-load-duration: 1.25s;
