/**
 * _variables.scss
 */

$breakpoints: (
  "small": "(min-width: 20rem)",
  "medium": "(min-width: 48rem)",
  "large": "(min-width: 64rem)",
  "huge": "(min-width: 90rem)",
);

$header-height: 4rem;

$home-load-duration: 3s;
$menu-load-duration: 1.25s;
