// _intro

// @use "../base/typography";

@use "../abstracts/colors";
@use "../abstracts/mixins";

.intro {
    // height: 18rem;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
    text-align: center;
    background-color: colors.$background2;

    &__heading {
        // @include typography.intro-heading;
        margin-bottom: 2.5rem;
    }
    
    &__subheading {
        margin-bottom: 2.5rem;
    }

    &__explore {
        margin: 0 auto;
        @include mixins.capsule(13.5rem, 3rem, colors.$gradient-secondary-primary);
    }
}
