// _menu.scss

@use "../abstracts/colors";
@use "../abstracts/mixins";

// @use "../base/typography";

@use "../components/favourite";
@use "../components/dish";

.menu {
  border-radius: 2.5rem 2.5rem 0 0;
  position: relative;
  margin-top: -2.5rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background: colors.$background2;

  &__intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.25rem;
  }

  &__heading {
    // @include typography.menu-title;
    color: colors.$logo;
  }

  &__courses {
    margin-bottom: 3rem;
  }

  &__course {
    margin-bottom: 2rem;
  }

  &__course-heading {
    // @include typography.course-title;

    &::after {
      display: block;
      height: 0.1875rem;
      width: 2.8rem;
      margin-top: 0.5rem;
      background-color: colors.$tertiary;
      content: "";
    }
  }

  &__order {
    margin: 0 auto;
    @include mixins.capsule(11.5rem, 3rem, colors.$gradient-secondary-primary);
  }
}
