// _restaurant.scss

@use "../abstracts/colors";
@use "../abstracts/variables";

$padding-top: 3rem;

#restaurants-href {
  position: relative;
  top: -($padding-top + variables.$header-height - 1);
}

.restaurants {
  padding-top: $padding-top;
  padding-bottom: 2.75rem;
  background-color: colors.$background2;
}
