@use "sass:list";
@use "../abstracts/variables";
@use "../components/card";

$padding-top: 3rem;

#restaurants-target {
  position: relative;
  top: -($padding-top + variables.$header-height - 1);
}

.restaurants {
  padding-top: 3rem;
  padding-bottom: 2.75rem;

  &__link {
    color: #000;
  }
}
