// @use "../base/typography";

// @use "../abstracts/variables";
@use "../abstracts/colors";
@use "../abstracts/mixins";

.user-location {
    @include mixins.flex-center;
    height: 3rem;
    // @include typography.location;
    color: colors.$logo;
    background: colors.$background3;
}
