/**
 * _reset.scss
 */
:root {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
 * _colors.scss
 */
/**
 * _push-down-footer.scss
 *
 * Push footer to bottom of view when main has little content.
 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f6f6f6;
}

main {
  flex: 1;
}

/**
 * _typography.scss
 */
html {
  font-family: "Roboto", sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.header__heading {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 1.8rem;
}

.user-location__info {
  font-size: 1rem;
  font-weight: 400;
}

.intro__heading,
.instructions__heading,
.restaurants__heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.intro__info {
  font-size: 1.17rem;
  font-weight: 300;
}
.intro__explore {
  font-size: 1rem;
  font-weight: 400;
}

.step__content {
  font-size: 1rem;
  font-weight: 500;
}

.restaurant__title {
  font-size: 1.17rem;
  font-weight: 700;
}
.restaurant__info {
  font-size: 1.07rem;
  font-weight: 300;
}
.restaurant__label {
  font-size: 1.07rem;
  font-weight: 500;
}

.menu__title {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 1.62rem;
  line-height: 1.4;
}
.menu__course-heading {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.menu__order {
  font-size: 1rem;
  font-weight: 400;
}

.dish__title {
  font-size: 1.17rem;
  font-weight: 700;
}
.dish__info {
  font-size: 1rem;
  font-weight: 300;
}
.dish__price {
  font-size: 1rem;
  font-weight: 500;
}

.footer__heading {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 1.25rem;
}
.footer__link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
}

/**
 * _cover.scss
 */
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cover--at-bottom {
  object-position: bottom;
}
.cover--at-center-61pc {
  object-position: center 61%;
}

/**
 * _variables.scss
 */
/**
 * _mixins.scss
 */
/**
 * _dish.scss
 */
.dish {
  height: 4.25rem;
  overflow: hidden;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.375rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}
.dish__content {
  height: 100%;
  width: calc(100% + 3.5rem);
  display: grid;
  align-items: end;
  grid-template-areas: "title price checkbox" "info price checkbox";
  grid-template-columns: 1fr 4.5rem 3.5rem;
  grid-template-rows: 2rem 1fr;
  transition: width 0.5s;
}
.dish__title {
  grid-area: title;
  padding: 0 0 0 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dish__info {
  grid-area: info;
  padding: 0 0 0.7rem 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dish__price {
  grid-area: price;
  text-align: center;
  padding-bottom: 0.7rem;
}
.dish__checkbox {
  grid-area: checkbox;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
}
.dish__checkmark {
  font-size: 1.25rem;
  color: #fff;
  opacity: 0%;
  transform: translateX(-0.5rem) rotate(-180deg);
  transition: transform 0.4s 0.1s;
}
.dish:hover .dish__content {
  width: 100%;
}
.dish:hover .dish__checkmark {
  opacity: 100%;
  transform: translateX(0) rotate(0);
}

/**
 * _favourite.scss
 */
.favourite {
  font-size: 1.5rem;
}
.favourite__unchecked {
  color: #353535;
}
.favourite__checked {
  position: relative;
  left: -50%;
  background-image: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0%;
  transition: opacity 0.375s;
}
.favourite__checked:hover {
  opacity: 100%;
}

/**
 * _hider.scss
 */
.hider {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hider {
  animation: fade-out 0.5s 2.5s forwards, shrink-to-zero 0s 3s forwards;
}

@keyframes fade-out {
  100% {
    opacity: 0%;
  }
}
@keyframes shrink-to-zero {
  100% {
    transform: scale(0);
  }
}
/**
 * _restaurant.scss
 */
.restaurant {
  display: grid;
  height: 15.5rem;
  grid-template-areas: "photo photo" "title fav" "info fav";
  grid-template-columns: 1fr 3rem;
  grid-template-rows: minmax(0, 1fr) 2.3rem 2.45rem;
  column-gap: 0.75rem;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.375rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  transition: all 350ms;
}
.restaurant:hover {
  box-shadow: 0 0.375rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}
.restaurant__photo {
  grid-area: photo;
}
.restaurant__title {
  grid-area: title;
  padding: 0 0 0 1rem;
  align-self: end;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant__info {
  grid-area: info;
  padding: 0.2rem 0 0 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant__favourite {
  grid-area: fav;
  align-self: center;
}
.restaurant__label {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem 1.5rem;
  color: #008766;
  background-color: #99e2d0;
  border-radius: 0.2rem;
}

/**
 * _spinner.scss
 */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner__child {
  position: absolute;
}
.spinner__child:nth-of-type(1) {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  border: 2vmin solid #9356dc;
  animation: pulse-opacity 1s 0.1s cubic-bezier(0.5, 0, 0, 1.333) both 3;
}
.spinner__child:nth-of-type(2) {
  width: 15vmin;
  height: 15vmin;
  border-radius: 50%;
  border: 2vmin solid #ff79da;
  animation: pulse-opacity 1s 0.2s cubic-bezier(0.5, 0, 0, 1.333) both 3;
}
.spinner__child:nth-of-type(3) {
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  border: 2vmin solid #99e2d0;
  animation: pulse-opacity 1s 0.3s cubic-bezier(0.5, 0, 0, 1.333) both 3;
}

@keyframes pulse-opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
/**
 * _step.scss
 */
.step {
  height: 4.5rem;
  width: calc(100% - 0.75rem);
  margin-left: 0.75rem;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 0 0.375rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}
.step__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -0.75rem;
  padding-right: 1rem;
}
.step__marker {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: #fff;
  background-color: #9356dc;
}
.step__icon {
  flex: none;
  width: 3.5rem;
  text-align: center;
  font-size: 1.1rem;
  color: #353535;
}
.step--highlighted {
  background-color: #F5EDFF;
}
.step--highlighted .step__icon {
  color: #9356dc;
}

/**
 * _footer.scss
 */
.footer {
  padding-top: 1.25rem;
  padding-bottom: 1.75rem;
  background-color: #353535;
  color: #fff;
}
@media screen and (min-width: 90rem) {
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__heading {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 90rem) {
  .footer__heading {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 48rem) {
  .footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 90rem) {
  .footer__list {
    display: contents;
  }
}
.footer__link-icon {
  width: 1.75rem;
  font-size: 0.9rem;
}

/**
 * _header.scss
 */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 4rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
}
.header__heading {
  color: #353535;
}
.header__return {
  position: absolute;
  left: 1.5rem;
  font-size: 1.25rem;
}

/**
 * _instructions.scss
 */
.instructions {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #fff;
}
.instructions__heading {
  margin-bottom: 1.25rem;
}
.instructions__list {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 48rem) {
  .instructions__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/**
 * _intro.scss
 */
.intro {
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
  text-align: center;
  background-color: #f6f6f6;
}
.intro__heading {
  margin-bottom: 2.5rem;
}
.intro__info {
  margin-bottom: 2.5rem;
}
.intro__explore {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.5rem;
  height: 3rem;
  border-radius: 1.5rem;
  color: #fff;
  background-image: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 0.375rem 0.5rem 0rem rgba(0, 0, 0, 0.2);
  transition: all 350ms;
  position: relative;
}
.intro__explore::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13.5rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #fff;
  opacity: 0;
  transition: opacity 350ms;
}
.intro__explore:hover {
  box-shadow: 0 0.375rem 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
}
.intro__explore:hover::after {
  opacity: 0.2;
}

/**
 * _menu.scss
 */
.menu {
  border-radius: 2.5rem 2.5rem 0 0;
  margin-top: -2.5rem;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #f6f6f6;
}
.menu__intro {
  display: flex;
  margin-bottom: 2rem;
  margin-right: -1rem;
}
.menu__title {
  flex: 1;
  padding-right: 1.5rem;
  color: #353535;
}
.menu__favourite {
  align-self: center;
}
.menu__courses {
  display: grid;
  column-gap: 4rem;
  row-gap: 2.5rem;
  grid-template-columns: 1fr;
  margin-bottom: 3rem;
}
@media screen and (min-width: 90rem) {
  .menu__courses {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.menu__course-heading {
  margin-bottom: 1rem;
}
.menu__course-heading::after {
  display: block;
  height: 0.1875rem;
  width: 2.5rem;
  margin-top: 0.375rem;
  background-color: #99e2d0;
  content: "";
}
.menu__list {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.menu__order {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.5rem;
  height: 3rem;
  border-radius: 1.5rem;
  color: #fff;
  background-image: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 0.375rem 0.5rem 0rem rgba(0, 0, 0, 0.2);
  transition: all 350ms;
  position: relative;
}
.menu__order::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 11.5rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #fff;
  opacity: 0;
  transition: opacity 350ms;
}
.menu__order:hover {
  box-shadow: 0 0.375rem 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
}
.menu__order:hover::after {
  opacity: 0.2;
}

.menu__item:nth-of-type(1) {
  animation: fade-in 1.05s 200ms ease-in-out backwards, slide-in 1.05s 200ms ease-in-out backwards;
}
.menu__item:nth-of-type(2) {
  animation: fade-in 0.85s 400ms ease-in-out backwards, slide-in 0.85s 400ms ease-in-out backwards;
}
.menu__item:nth-of-type(3) {
  animation: fade-in 0.65s 600ms ease-in-out backwards, slide-in 0.65s 600ms ease-in-out backwards;
}
.menu__item:nth-of-type(4) {
  animation: fade-in 0.45s 800ms ease-in-out backwards, slide-in 0.45s 800ms ease-in-out backwards;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes slide-in {
  0% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
/**
 * _restaurant-photo.scss
 */
.restaurant-photo {
  height: 16rem;
}

/**
 * _restaurants.scss
 */
#restaurants-href {
  position: relative;
  top: -6rem;
}

.restaurants {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #f6f6f6;
}
.restaurants__heading {
  margin-bottom: 1.25rem;
}
.restaurants__list {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 48rem) {
  .restaurants__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 90rem) {
  .restaurants__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/**
 * _user-location.scss
 */
.user-location {
  height: 3.25rem;
  background-color: #eaeaea;
}
.user-location__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-location__info {
  color: #353535;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/**
 * _wrapper.scss
 */
.wrapper {
  height: 100%;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .wrapper {
    max-width: 60rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 90rem) {
  .wrapper {
    max-width: 90rem;
  }
}

/**
 * _main.scss
 */

/*# sourceMappingURL=style.css.map */
