@use "../abstracts/colors";
@use "../abstracts/mixins";

.card {
  display: grid;
  height: 15.5rem;
  margin: 1.25rem 0;
  grid-template-areas:
    "photo photo"
    "title fav"
    "info fav";
  grid-template-columns: 1fr 4rem;
  grid-template-rows: minmax(0, 1fr) 2.4rem 2.35rem;
  overflow: hidden;
  position: relative;
  background: colors.$background1;
  @include mixins.rounded-corners;
  @include mixins.shadow-soft-light;
  transition: all 350ms;

  &:hover {
    @include mixins.shadow-soft-dark;
  }

  &__photo {
    grid-area: photo;
    @include mixins.cover;
    background-color: colors.$background3;
  }

  &__title {
    grid-area: title;
    padding: 0 0 0 1rem;
    align-self: end;
  }

  &__info {
    grid-area: info;
    padding: 0.2rem 0 0 1rem;
  }

  &__favourite {
    grid-area: fav;
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    color: colors.$logo;

    & > .overlay {
      position: relative;
      left: -50%;
      @include mixins.text-overlay(colors.$gradient-secondary-primary);
      opacity: 0%;
      transition: all 0.375s;
      &:hover {
        opacity: 100%;
      }
    }
  }

  &__label {
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    color: colors.$tertiary-shade;
    background: colors.$tertiary;
    @include mixins.rounded-corners(0.2rem);
  }
}
