/**
 * _favourite.scss
 */

@use "../abstracts/colors";
@use "../abstracts/mixins";

.favourite {
  width: fit-content;
  font-size: 1.5rem;

  &__unchecked {
    color: colors.$logo;
  }

  &__checked {
    position: relative;
    left: -50%;
    @include mixins.text-overlay(colors.$gradient-secondary-primary);
    opacity: 0%;
    transition: opacity 0.375s;
    &:hover {
      opacity: 100%;
    }
  }
}
