/**
 * _step.scss
 */

@use "../abstracts/colors";
@use "../abstracts/mixins";

$marker-radius: 0.75rem;

.step {
  --icon-color: colors.$logo;
  height: 4.5rem;
  width: calc(100% - #{$marker-radius});
  margin-left: $marker-radius;
  display: flex;
  align-items: center;
  background-color: colors.$background2;
  @include mixins.rounded-corners;
  @include mixins.shadow-soft-light;

  &--highlighted {
    background-color: colors.$primary-tint;
    --icon-color: #{colors.$primary};
  }

  &__content {
    @include mixins.flex-center;
    margin-left: -$marker-radius;
  }

  &__marker {
    flex: none;
    @include mixins.flex-center;
    @include mixins.circle($marker-radius * 2);
    color: white;
    background-color: colors.$primary;
  }

  &__icon {
    text-align: center;
    width: 4rem;
    font-size: 1.3rem;
    color: var(--icon-color);
  }
}
