@use "../abstracts/colors";
@use "../abstracts/mixins";

$marker-radius: 0.75rem;

.step {
  --icon-color: colors.$logo;
  position: relative;
  left: $marker-radius;
  height: 4.5rem;
  width: calc(100% - #{$marker-radius});
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: colors.$background2;
  @include mixins.rounded-corners;
  @include mixins.shadow-soft-light;
  font-weight: 500;

  &--highlighted {
    background: colors.$primary-tint;
    --icon-color: #{colors.$primary};
  }

  &__content {
    @include mixins.flex-center;
    position: relative;
    left: -$marker-radius;
  }

  &__marker {
    flex: none;
    @include mixins.flex-center;
    @include mixins.circle($marker-radius * 2);
    color: white;
    background: colors.$primary;
  }

  &__icon {
    text-align: center;
    width: 4rem;
    font-size: 1.3rem;
    color: var(--icon-color);
  }
}
