/**
 * _typography.scss
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

$body-font-family: "Roboto", sans-serif;
$display-font-family: "Shrikhand", cursive;

html {
  font-family: $body-font-family;
}

a {
  color: unset; // Remove browser's default color
  text-decoration: none; // Remove underline
}

ul,
ol {
  list-style-type: none; // Remove markers
}

// Body font sizes
$medium: 1rem;
$large: 1.07rem;
$larger: 1.17rem;
$huge: 1.5rem;

// Body font weights
$light: 300;
$normal: 400;
$bold: 500;
$bolder: 700;

.header__heading {
  font-family: $display-font-family;
  font-weight: normal;
  font-size: 1.8rem;
}

.user-location {
  &__content {
    font-size: $medium;
    font-weight: $normal;
  }
}

.intro,
.instructions,
.restaurants {
  &__heading {
    font-size: $huge;
    font-weight: $bolder;
  }
}

.intro {
  &__info {
    font-size: $larger;
    font-weight: $light;
  }

  &__explore {
    font-size: $medium;
    font-weight: $normal;
  }
}

.step {
  &__content {
    font-size: $medium;
    font-weight: $bold;
  }
}

.restaurant {
  &__title {
    font-size: $larger;
    font-weight: $bolder;
  }

  &__info {
    font-size: $large;
    font-weight: $light;
  }

  &__label {
    font-size: $large;
    font-weight: $bold;
  }
}

.menu {
  &__title {
    font-family: $display-font-family;
    font-weight: normal;
    font-size: 1.62rem;
    line-height: 1.4;
  }

  &__course-heading {
    font-size: $medium;
    font-weight: $light;
    text-transform: uppercase;
  }

  &__order {
    font-size: $medium;
    font-weight: $normal;
  }
}

.dish {
  &__title {
    font-size: $larger;
    font-weight: $bolder;
  }

  &__info {
    font-size: $medium;
    font-weight: $light;
  }

  &__price {
    font-size: $medium;
    font-weight: $bold;
  }
}

.footer {
  &__heading {
    font-family: $display-font-family;
    font-weight: normal;
    font-size: 1.25rem;
  }

  &__link {
    font-size: $medium;
    font-weight: $normal;
    line-height: 1.75rem;
  }
}
