@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

$body-font-family: "Roboto", sans-serif;
$display-font-family: "Shrikhand", cursive;

html {
  font-family: $body-font-family;
}

a {
  color: unset;
  text-decoration: none; // Remove underline
}

ul,
ol {
  list-style-type: none; // Remove markers
}

.header__heading {
  font-family: $display-font-family;
  font-weight: normal;
  font-size: 1.8rem;
}

.user-location {
  &__content {
    font-size: 1rem;
    font-weight: 400;
  }
}

.intro {
  &__heading {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__info {
    font-size: 1.17rem;
    font-weight: 300;
  }

  &__explore {
    font-size: 1rem;
    font-weight: 400;
  }
}

.instructions {
  &__heading {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.step {
  font-size: 1rem;
  font-weight: 500;
}

.restaurants {
  &__heading {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.restaurant {
  &__title {
    font-size: 1.17rem;
    font-weight: 700;
  }

  &__info {
    font-size: 1.07rem;
    font-weight: 300;
  }

  &__label {
    font-size: 1.07rem;
    font-weight: 500;
  }
}

.menu {
  &__heading {
    font-family: $display-font-family;
    font-weight: normal;
    font-size: 1.62rem;
  }

  &__course-heading {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__order {
    font-size: 1rem;
    font-weight: 400;
  }
}

.dish {
  &__title {
    font-size: 1.17rem;
    font-weight: 700;
  }

  &__info {
    font-size: 1rem;
    font-weight: 300;
  }

  &__price {
    font-size: 1rem;
    font-weight: 500;
  }
}

.footer {
  &__heading {
    font-family: $display-font-family;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 2.75rem;
  }

  &__link {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
  }
}
