/**
 * _instructions.scss
 */

@use "../abstracts/colors";

.instructions {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: colors.$background1;

  &__heading {
    margin-bottom: 1.25rem;
  }

  &__item {
    margin-bottom: 1.25rem;
  }
}
