/**
 * _instructions.scss
 */

@use "../abstracts/colors";
@use "../abstracts/mixins";

.instructions {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: colors.$background1;

  &__heading {
    margin-bottom: 1.25rem;
  }

  &__list {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 1fr;

    @include mixins.breakpoint("medium") {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
