/**
 * _menu.scss
 */

@use "../abstracts/colors";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.menu {
  border-radius: 2.5rem 2.5rem 0 0;
  margin-top: -2.5rem; // make top of menu overlap bottom of photo
  position: relative; // required for overlap to be rendered
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: colors.$background2;

  &__intro {
    @include mixins.flex-between;
    margin-bottom: 2rem;
    margin-right: -0.75rem;
  }

  &__heading {
    color: colors.$logo;
  }

  &__courses {
    margin-bottom: 3rem;
  }

  &__course {
    margin-bottom: 2.5rem;
  }

  &__course-heading {
    margin-bottom: 1rem;

    &::after {
      display: block;
      height: 0.1875rem;
      width: 2.5rem;
      margin-top: 0.375rem;
      background-color: colors.$tertiary;
      content: "";
    }
  }

  &__list {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__order {
    margin-left: auto;
    margin-right: auto;
    @include mixins.capsule(11.5rem, 3rem, colors.$gradient-secondary-primary);
  }
}

// animation
.menu {
  $overall-duration: variables.$menu-load-duration;
  $timing-function: ease-in-out;
  @for $i from 1 through 4 {
    &__item:nth-of-type(#{$i}) {
      $delay: 200ms * $i;
      $duration: $overall-duration - $delay;
      animation: item-fade-in $duration $delay $timing-function backwards,
        item-slide-up $duration $delay $timing-function backwards;
    }
  }
}

@keyframes item-fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes item-slide-up {
  0% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
