/**
 * _restaurants.scss
 */

@use "../abstracts/colors";
@use "../abstracts/mixins";
@use "../abstracts/variables";

$padding-top: 3rem;

#restaurants-href {
  position: relative;
  top: -($padding-top + variables.$header-height - 1);
}

.restaurants {
  $item-gap: 1.25rem;
  padding-top: $padding-top;
  padding-bottom: 3rem;
  background-color: colors.$background2;

  &__heading {
    margin-bottom: $item-gap;
  }

  &__list {
    @include mixins.breakpoint($name: "medium") {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $item-gap;
    }

    @include mixins.breakpoint($name: "huge") {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__item {
    margin-bottom: $item-gap;
  }
}
