/**
 * _restaurants.scss
 */

@use "../abstracts/colors";
@use "../abstracts/mixins";
@use "../abstracts/variables";

$padding-top: 3rem;

#restaurants-href {
  position: relative;
  top: -($padding-top + variables.$header-height - 1);
}

.restaurants {
  padding-top: $padding-top;
  padding-bottom: 4rem;
  background-color: colors.$background2;

  &__heading {
    margin-bottom: 1.25rem;
  }

  &__list {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 1fr;

    @include mixins.breakpoint("medium") {
      grid-template-columns: 1fr 1fr;
    }

    @include mixins.breakpoint("huge") {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
