/**
 * _user-location.scss
 */

@use "../abstracts/colors";
@use "../abstracts/mixins";

.user-location {
  height: 3rem;
  background-color: colors.$background3;

  &__content {
    height: 100%;
    @include mixins.flex-center;
  }

  &__info {
    color: colors.$logo;
    @include mixins.overflow-ellipsis;
  }
}
